/* kkh 2012-12-20 */

body { 
  font-family: Arial, Helvetica, sans-serif; 
  color: #444444; 
  background: white; 
  font-size: 75%; 
  line-height: 1.3; 
  margin: 0; 
}
a { 
  color: #0085d5; 
  cursor: pointer; 
  text-decoration: none;
}
a:hover { 
  text-decoration: underline; 
}
a img { 
  border: none; 
}
div.clearer { 
  clear: both !important; 
  float: none !important; 
  height: 0 !important; 
  font-size: 0 !important; 
}
#logo { 
  float: left; 
  margin-bottom: -28px; 
}
#headerband { 
  padding-top:29px; 
  border-bottom: 7px solid #003972; 
}
#footer { 
  clear: both; 
  background: white url(footerbg.gif) repeat-x; margin-top: 28px; 
}
#copyright { 
  color: #999; 
  font-size: 92%; 
  clear: both; 
  padding: 10px 0; 
}
.wrapper { 
  margin-left: 6em; 
  margin-right: 6em; 
}
h1 { 
  color: #b5b0ad; 
  font-size: 196%; 
  margin: 10px 0 0 0; 
}
h2 {
  color: #777;
  font-size: 150%;
  padding-top: 9px;
  border-top: 1px solid #b5b0ad;
  margin-top: 1.25em;
}
h3 {
  font-size: 116%; 
  margin: 1em 0 0.5em 0;
}
p {
  margin: 0.75em 0;
}
ul {
  margin-top: 0;
  margin-bottom: 1em;
}
li {
  margin-top: 0.25em;
  margin-bottom: 0.5em; 
}
p.box {
  font-weight: bold;
  margin: 1em 3em;
  padding: 9px 12px; 
  color: #e12b33;
  background-color: #fffde4;
  border: 1px solid #b5b0ad;
  max-width: 65em;
}
dl {
  margin: 0.5em 1em 1.5em 1em; 
}
dl dt {
  margin-left: 1em; 
}
dl dd {
  margin-left: 0.5em;
}
dt span {
  padding-left: 3px;
  padding-right: 3px;
  color: #b2b2b2;
}